
		<div class="col-xs-3">
			<h2>User info</h2>
				<table class="table">
					<thead>
						<tr>
							<th><%= attachment_image_tag user, :profile_image , size: "100x100", format: 'jpeg', fallback:"noimage.jpeg" %></th>
						</tr>
						<tr>

							<th>name</th>
							<th><%= user.name %></th>
						</tr>
							<th>introduction</th>
							<th><%= user.introduction %></th>
					</thead>
				</table>
			<div class="row">
				<%= link_to edit_user_path(user) do %>
				<span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></span>
				<% end %>
			</div>


			<h2>New book</h2>

			<%= form_for(book) do |f| %>
			<div class="field row">
				<%= f.label :Title %><br>
				<%= f.text_field :title, class:"col-xs-12 book_title" %>
				<br>
			</div><br>
			<div class="field row">
				<%= f.label :Option %><br>
				<%= f.text_area :body, class:"col-xs-12 book_body" %>
				<br>
			</div><br>
			<div class="actions row">
				<%= f.submit 'Create Book', class:"btn btn-primary col-xs-12" %>
			</div>
			<% end %>
		</div>